## Problem Set 2: Merging and regular expressions

**Total points (without extra credit)**: 30 

**Background on the policy context**: here, we're going to use two datasets to practice reshaping, merging, and regular expression patterns. Both datasets relate to the broader issue of which employers might be violating the rights of temporary guestworkers granted visas under the H-2A program. Here are some articles about potential exploitation of guestworkers by firms and inequality caused by minimal oversight:

- News media coverage of labor abuses of temporary guestworkers: https://www.buzzfeednews.com/article/kenbensinger/the-pushovers 
- GAO report on labor abuses of temporary guestworkers: https://www.gao.gov/products/gao-15-154

The following datasets are located in `pset2_inputdata` (need to unzip): 

- `jobs_clean`: a dataset of guestworker jobs posted by many employers, some of whom have been debarred (banned) from the program for labor abuses; others not debarred
- `debar`: a dataset of employers who committed violations of labor regulations meant to protect temporary guestworkers 


You can view a codebook here: https://docs.google.com/spreadsheets/d/1rF9GJEC8pPKxipD0TsoG9DVdqz3EJ-b-BHEtyioAX7I/edit?usp=sharing

In [1]:
## helpful packages
import pandas as pd
import numpy as np
import random
import re
import os

## repeated printouts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 1. Reshaping data (13 points total)

Load the following dataset stored in `pset2_inputdata`: `debar.csv`

This represents employers temporarily banned from hiring workers (debar.csv); call this `debar`


View the head()

In [2]:
## your code here
debar = pd.read_csv(r"/Users/fintanletzelter/Documents/GitHub/QSS20_S24/problemsets/pset2/pset2_inputdata/debar.csv")
print(debar.head())
print(debar.shape)

                               Name     City, State  \
0                    J&J Harvesting       Leads, ND
1            Stahlman Apiaries, Inc       Selby, SD
2                     Trust Nursery     Pulaski, NY
3             Anton Fertilizer Inc.     Dighton, KS
4  Great Plains Fluid Service, Inc.  Greensburg, KS

                                        Violation Duration Start date  \
0  Failure to respond to audit (partial response)  2 years  1/19/2014
1  Failure to respond to audit (partial response)   1 year  2/19/2015
2  Failure to respond to audit (partial response)   1 year  3/21/2014
3       Failure to respond to audit (no response)  2 years  3/30/2014
4       Failure to respond to audit (no response)  2 years  3/30/2014

    End date
0  1/18/2016
1  2/14/2016
2  3/20/2015
3  3/29/2016
4  3/29/2016
(114, 6)

## 1.1 (1 point)

Print the number of rows in `debar` versus the number of unique employer names (`Name`). Is there one row per employer or multiple rows for some employers?

In [3]:
## your code here
print(debar.shape[0])
print(len(set(debar.Name)))

print("There are multiple rows for some employers")

114
98
There are multiple rows for some employers

## 1.2 Investigating duplicated rows (2 points)

A. Create a new column in `debar`--`is_repeated`-- that tells us whether an employer (`Name`) is repeated > 1 times

*Hint*: there are multiple ways to solve this but some possibilities to get the list of names that are repeated are:
- Using value_counts() on the `Name` variable and extracting the index from that value counts 
- Using groupby to count the rows attached to one name

B. Print the rows where `is_repeated == True` and interpret

C. Subset to the rows where `is_repeated == True` and save that data as `mult_debar`. Print the head() and shape

In [4]:
## your code here
debar["is_repeated"] = debar["Name"].map(debar["Name"].value_counts()) > 1
print(debar[debar["is_repeated"] == True])

mult_debar = debar[debar["is_repeated"] == True]
print(mult_debar.shape)
print(mult_debar.head())

                                        Name       City, State  \
6                    Annabella Land & Cattle     Annabella, UT
7                        Autumn Hill Orchard        Groton, MA
8      Caddo Creek Ranch, dba Paradise Ranch         Caddo, TX
11                     Loewen Harvesting LLC   Brownsville, TX
12               Rollo Farm Labor Contractor         Miami, FL
14                             Sharon Mathis        Tifton, GA
15                                 SRT Farms        Morton, TX
16                               Mark Duncan     Roosevelt, UT
17          Maple Ridge Custom Services, LLC     Altheimer, AK
18                                 F&W Farms       Ingalls, KS
19                        Cisco Produce Inc.         Cairo, GA
21   Old Tree Farms/Verpaalen Custom Service         Volga, SD
24               Rollo Farm Labor Contractor         Miami, FL
25                     Loewen Harvesting LLC    Brownfield, TX
28     Caddo Creek Ranch, dba Paradise Ranch      Caddo, Texas
29                       Autumn Hill Orchard        Groton, MA
30                   Annabella Land & Cattle   Annabella, Utah
31                      Macky and Brad Farms        Plains, TX
51   Old Tree Farms/Verpaalen Custom Service         Volga, SD
55                      Macky and Brad Farms        Plains, TX
56                        Cisco Produce Inc.         Cairo, GA
58                                 F&W Farms       Ingalls, KS
59          Maple Ridge Custom Services, LLC     Altheimer, AR
60                               Mark Duncan     Roosevelt, UT
61                                 SRT Farms        Morton, TX
62                             Sharon Mathis        Tifton, GA
73                              Xavier Horne    Lyons, Georgia
89                              Xavier Horne    Lyons, Georgia
103                         Dove Creek Farms  Mount Vernon, TX
106                             Turner Farms         Healy, KS
109                         Dove Creek Farms  Mount Vernon, TX
111                             Turner Farms         Healy, KS

                                             Violation  Duration  Start date  \
6                                          Non Payment    1 year    5/9/2014
7            Failure to respond to audit (no response)   2 years    7/6/2014
8       Failure to respond to audit (partial response)   2 years   7/20/2014
11      Failure to respond to audit (partial response)    1 year   8/20/2014
12           Failure to respond to audit (no response)   2 years   8/23/2014
14           Failure to respond to audit (no response)   2 years  11/16/2014
15           Failure to respond to audit (no response)   2 years  11/16/2014
16           Failure to respond to audit (no response)   2 years  11/16/2014
17      Failure to respond to audit (partial response)   2 years  11/16/2014
18      Failure to respond to audit (partial response)   2 years  12/10/2014
19           Failure to respond to audit (no response)   2 years  12/10/2014
21                                       WHD Debarment   3 years  12/11/2014
24          Impeding the Audit Process – Non- Response   2 years   8/23/2014
25      Impeding the Audit Process – Partial- Response    1 year   8/20/2014
28      Impeding the Audit Process – Partial- Response   2 years   7/20/2014
29          Impeding the Audit Process – Non- Response   2 years    7/6/2014
30                                         Non-payment    1 year    5/9/2014
31           Failure to respond to audit (no response)    1 year   2/13/2015
51                                 Wage Hour Debarment   3 years   12/1/2014
55      Impeding the Audit Process – Partial- Response    1 year   2/13/2015
56          Impeding the Audit Process – Non- Response   2 years  12/10/2015
58      Impeding the Audit Process – Partial- Response    1 year  12/10/2014
59      Impeding the Audit Process – Partial- Response    1 year  11/16/2014
60          Impeding the Audit Process – Non- Response   2 years  11/16/2014
61          Impeding the Audit Process – Non- Response   2 years  11/16/2014
62          Impeding the Audit Process – Non- Response   2 years  11/16/2014
73                    Non-payment of certification fee    1 year   6/16/2016
89                 Failure to respond to audit request   2 years   9/27/2017
103                Failure to respond to audit request   2 years    2/9/2018
106  Failure to comply with the employer's obligati...  6 months     7/17/19
109                Failure to Respond to Audit Request   2 years    2/9/2018
111  Failure to comply with the employer's obligati...  7 months     7/17/19

       End date  is_repeated
6      5/9/2015         True
7      7/5/2016         True
8     7/19/2016         True
11    8/19/2015         True
12    8/22/2016         True
14   11/15/2016         True
15   11/15/2016         True
16   11/15/2016         True
17   11/15/2016         True
18    12/9/2016         True
19    12/9/2016         True
21   12/10/2017         True
24    8/22/2016         True
25    8/19/2015         True
28    7/19/2016         True
29     7/5/2016         True
30     5/8/2015         True
31    2/12/2016         True
51    12/1/2017         True
55    2/12/2016         True
56    12/9/2017         True
58    12/9/2015         True
59   11/15/2015         True
60   11/15/2016         True
61   11/15/2016         True
62   11/15/2016         True
73    6/15/2017         True
89    9/26/2019         True
103    2/8/2018         True
106   2/10/2020         True
109    2/8/2020         True
111     2/10/20         True
(32, 7)
                                     Name      City, State  \
6                 Annabella Land & Cattle    Annabella, UT
7                     Autumn Hill Orchard       Groton, MA
8   Caddo Creek Ranch, dba Paradise Ranch        Caddo, TX
11                  Loewen Harvesting LLC  Brownsville, TX
12            Rollo Farm Labor Contractor        Miami, FL

                                         Violation Duration Start date  \
6                                      Non Payment   1 year   5/9/2014
7        Failure to respond to audit (no response)  2 years   7/6/2014
8   Failure to respond to audit (partial response)  2 years  7/20/2014
11  Failure to respond to audit (partial response)   1 year  8/20/2014
12       Failure to respond to audit (no response)  2 years  8/23/2014

     End date  is_repeated
6    5/9/2015         True
7    7/5/2016         True
8   7/19/2016         True
11  8/19/2015         True
12  8/22/2016         True

## 1.3 Reshape mult_debar to wide to begin filtering out duplicates (4 points)

You want to separate out two cases:

- Cases where the repeat rows for one employer are due to duplicated data 
- Cases where the repeat rows for one employer represent repeated violations for different issues

There are various ways to check duplicates in this data (eg converting `Violation` to lowercase; replacing spelled-out states with two-dig state codes)

We're going to use the simple rule of:

- A row is a duplicate if, within an employer (defined by Name + City, State), the Start date for each row's violation is the same 

To begin to check this, reshape `mult_debar` to a wide dataframe (`mult_debar_wide`) with the following columns, treating the `Name` and `City, State` as the index for the pivot:

- Name
- City, State
- start_date_viol1
- start_date_viol2

Print the head and shape

In [5]:
state_map = {'Texas': 'TX', "Brownfield": "Brownsville", "AK": "AR", "Utah": "UT"}

def clean_city_state(city_state):
    for keyword, replacement in state_map.items():
        if keyword in city_state:
            return city_state.replace(keyword, replacement)
    return city_state

mult_debar['City, State'] = mult_debar['City, State'].apply(clean_city_state)


for name in mult_debar['Name']:
    for name2 in mult_debar['Name']:
        if name == name2:
            stardate2 =  mult_debar['Start date']
            mult_debar['Start date 2'] = stardate2


mult_debar['start_date_viol1'] = mult_debar.groupby(['Name', 'City, State'])['Start date'].transform('first')
print(mult_debar['start_date_viol1'])

mult_debar['start_date_viol2'] = mult_debar.groupby(['Name', 'City, State'])['Start date 2'].transform('last')
print(mult_debar['start_date_viol2'])


mult_debar_wide = mult_debar.pivot_table(index=['Name', 'City, State'],
                                         columns=None,
                                         values=["start_date_viol1", "start_date_viol2"],
                                         aggfunc='first')

mult_debar_wide.reset_index(inplace=True)

print("Head of mult_debar_wide:")
print(mult_debar_wide)
print("\nShape of mult_debar_wide:", mult_debar_wide.shape)

6        5/9/2014
7        7/6/2014
8       7/20/2014
11      8/20/2014
12      8/23/2014
14     11/16/2014
15     11/16/2014
16     11/16/2014
17     11/16/2014
18     12/10/2014
19     12/10/2014
21     12/11/2014
24      8/23/2014
25      8/20/2014
28      7/20/2014
29       7/6/2014
30       5/9/2014
31      2/13/2015
51     12/11/2014
55      2/13/2015
56     12/10/2014
58     12/10/2014
59     11/16/2014
60     11/16/2014
61     11/16/2014
62     11/16/2014
73      6/16/2016
89      6/16/2016
103      2/9/2018
106       7/17/19
109      2/9/2018
111       7/17/19
Name: start_date_viol1, dtype: object
6        5/9/2014
7        7/6/2014
8       7/20/2014
11      8/20/2014
12      8/23/2014
14     11/16/2014
15     11/16/2014
16     11/16/2014
17     11/16/2014
18     12/10/2014
19     12/10/2015
21      12/1/2014
24      8/23/2014
25      8/20/2014
28      7/20/2014
29       7/6/2014
30       5/9/2014
31      2/13/2015
51      12/1/2014
55      2/13/2015
56     12/10/2015
58     12/10/2014
59     11/16/2014
60     11/16/2014
61     11/16/2014
62     11/16/2014
73      9/27/2017
89      9/27/2017
103      2/9/2018
106       7/17/19
109      2/9/2018
111       7/17/19
Name: start_date_viol2, dtype: object
Head of mult_debar_wide:
                                       Name       City, State  \
0                   Annabella Land & Cattle     Annabella, UT
1                       Autumn Hill Orchard        Groton, MA
2     Caddo Creek Ranch, dba Paradise Ranch         Caddo, TX
3                        Cisco Produce Inc.         Cairo, GA
4                          Dove Creek Farms  Mount Vernon, TX
5                                 F&W Farms       Ingalls, KS
6                     Loewen Harvesting LLC   Brownsville, TX
7                      Macky and Brad Farms        Plains, TX
8          Maple Ridge Custom Services, LLC     Altheimer, AR
9                               Mark Duncan     Roosevelt, UT
10  Old Tree Farms/Verpaalen Custom Service         Volga, SD
11              Rollo Farm Labor Contractor         Miami, FL
12                                SRT Farms        Morton, TX
13                            Sharon Mathis        Tifton, GA
14                             Turner Farms         Healy, KS
15                             Xavier Horne    Lyons, Georgia

   start_date_viol1 start_date_viol2
0          5/9/2014         5/9/2014
1          7/6/2014         7/6/2014
2         7/20/2014        7/20/2014
3        12/10/2014       12/10/2015
4          2/9/2018         2/9/2018
5        12/10/2014       12/10/2014
6         8/20/2014        8/20/2014
7         2/13/2015        2/13/2015
8        11/16/2014       11/16/2014
9        11/16/2014       11/16/2014
10       12/11/2014        12/1/2014
11        8/23/2014        8/23/2014
12       11/16/2014       11/16/2014
13       11/16/2014       11/16/2014
14          7/17/19          7/17/19
15        6/16/2016        9/27/2017

Shape of mult_debar_wide: (16, 4)

/var/folders/_f/t13xr4514214419m1ty47v1r0000gn/T/ipykernel_45156/2404006746.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mult_debar['City, State'] = mult_debar['City, State'].apply(clean_city_state)
/var/folders/_f/t13xr4514214419m1ty47v1r0000gn/T/ipykernel_45156/2404006746.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mult_debar['Start date 2'] = stardate2
/var/folders/_f/t13xr4514214419m1ty47v1r0000gn/T/ipykernel_45156/2404006746.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mult_debar['start_date_viol1'] = mult_debar.groupby(['Name', 'City, State'])['Start date'].transform('first')
/var/folders/_f/t13xr4514214419m1ty47v1r0000gn/T/ipykernel_45156/2404006746.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mult_debar['start_date_viol2'] = mult_debar.groupby(['Name', 'City, State'])['Start date 2'].transform('last')

## 1.4 Filter out duplicates from original debar data (6 points)

A. Using `mult_debar_wide`, add a column `is_dup` that takes value of True for cases where start_date_viol1 == start_date_viol2 marking the row as a duplicate

B. Going back to the original long-format data you loaded at the beginning- `debar`
    - For employers where `is_dup == True` as indicated by your wide-format dataframe, only keep `violnum == viol1`
    - For all other employers (so is_dup == False and ones we didnt need to check duplicates for), keep all violnum
    - Remove the `is_repeated` column from the `debar` data

**Hint**: you can complete part B without a for loop; `pd.concat` with axis = 0 (row binding) is one way

Call the resulting dataframe `debar_clean` and print the shape and # of unique employer names

In [6]:
## your code here
mult_debar_wide["is_dup"] = (mult_debar_wide["start_date_viol1"] == mult_debar_wide["start_date_viol2"])


duplicates = mult_debar_wide[mult_debar_wide['is_dup']]
duplicates.shape

non_duplicates = debar[~debar['Name'].isin(duplicates['Name'])]

non_duplicates.drop(columns='is_repeated', inplace=True)

debar_clean = pd.concat([duplicates, non_duplicates], axis=0)

print(debar_clean.shape)
print(debar_clean["Name"].nunique())

(13, 5)

(101, 9)
98

/var/folders/_f/t13xr4514214419m1ty47v1r0000gn/T/ipykernel_45156/1701633796.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_duplicates.drop(columns='is_repeated', inplace=True)

# 2. Merging and regex (17 points total)

## 2.1 Load data on job postings

The previous dataset contains a small subset of employers who faced temporary bans due to violations of H-2A program regulations

Since most of the bans have expired, we're going to see which of those employers posted new H-2A jobs in the first quarter of 2021 

Loading the `jobs_clean.csv` data stored in `pset4_inputdata`

In [7]:
# your code here to load the data 

jobs = pd.read_csv(r"/Users/fintanletzelter/Documents/GitHub/QSS20_S24/problemsets/pset2/pset2_inputdata/jobs.csv")
print(jobs.head)

<bound method NDFrame.head of              CASE_NUMBER                           CASE_STATUS  \
0     H-300-20199-721302      Determination Issued - Withdrawn
1     H-300-20231-773906  Determination Issued - Certification
2     H-300-20231-774123  Determination Issued - Certification
3     H-300-20231-774151  Determination Issued - Certification
4     H-300-20231-774508  Determination Issued - Certification
...                  ...                                   ...
2715  H-300-20351-963307  Determination Issued - Certification
2716  H-300-20351-963399  Determination Issued - Certification
2717  H-300-20351-964097  Determination Issued - Certification
2718  H-300-20351-965435  Determination Issued - Certification
2719  H-300-20352-967311  Determination Issued - Certification

                RECEIVED_DATE            DECISION_DATE  \
0     2020-07-17 14:50:40.840  2020-10-01 00:00:00.000
1     2020-08-20 10:38:15.620  2020-10-01 00:00:00.000
2     2020-08-24 15:33:14.340  2020-10-01 00:00:00.000
3     2020-08-21 12:08:09.760  2020-10-01 00:00:00.000
4     2020-08-20 10:17:34.530  2020-10-01 00:00:00.000
...                       ...                      ...
2715  2020-12-17 10:34:09.530  2020-12-31 00:00:00.000
2716  2020-12-17 14:37:57.920  2020-12-31 00:00:00.000
2717  2020-12-22 12:21:32.370  2020-12-31 00:00:00.000
2718  2020-12-22 12:18:43.280  2020-12-31 00:00:00.000
2719  2020-12-22 11:10:37.480  2020-12-31 00:00:00.000

     TYPE_OF_EMPLOYER_APPLICATION H2A_LABOR_CONTRACTOR  \
0             Individual Employer                    N
1             Association - Agent                    N
2             Individual Employer                    N
3             Individual Employer                    N
4             Individual Employer                    Y
...                           ...                  ...
2715          Individual Employer                    N
2716          Individual Employer                    N
2717          Individual Employer                    N
2718          Individual Employer                    N
2719          Individual Employer                    N

     NATURE_OF_TEMPORARY_NEED EMERGENCY_FILING  \
0                    Seasonal                Y
1                    Seasonal                N
2                    Seasonal                N
3                    Seasonal                N
4                    Seasonal                N
...                       ...              ...
2715                 Seasonal                N
2716                 Seasonal                N
2717                 Seasonal                N
2718                 Seasonal                N
2719                 Seasonal                N

                           EMPLOYER_NAME               TRADE_NAME_DBA  ...  \
0     Fazio Farms Operating Company, LLC                          NaN  ...
1                     Charlie Sunderland  Panter & Sunderland Nursery  ...
2                      Michael Rudebusch                          NaN  ...
3                           Lodahl Farms                          NaN  ...
4                Dunson Harvesting, Inc.      Dunson Harvesting, Inc.  ...
...                                  ...                          ...  ...
2715                   James L Schneller                          NaN  ...
2716                     Stephen G Myers                          NaN  ...
2717                          Andy Povey             Andy Povey Farms  ...
2718              Silver Creek Seed, LLC                          NaN  ...
2719                      Halabura Farms                          NaN  ...

     ADDENDUM_B_HOUSING_ATTACHED TOTAL_HOUSING_RECORDS MEALS_PROVIDED  \
0                              N                     1              Y
1                              N                     1              N
2                              N                     1              N
3                              Y                     2              N
4                              Y                     8              N
...                          ...                   ...            ...
2715                           N                     1              N
2716                           N                     1              N
2717                           Y                     2              Y
2718                           Y                     2              Y
2719                           N                     1              Y

     MEALS_CHARGED MEAL_REIMBURSEMENT_MINIMUM MEAL_REIMBURSEMENT_MAXIMUM  \
0            12.68                      12.68                       55.0
1              NaN                      12.68                       55.0
2              NaN                      12.68                       55.0
3              NaN                      12.68                       55.0
4              NaN                      12.68                       55.0
...            ...                        ...                        ...
2715           NaN                      12.68                       55.0
2716           NaN                      12.68                       55.0
2717         12.68                      12.68                       55.0
2718         12.68                      12.68                       55.0
2719         12.68                      12.68                       55.0

     PHONE_TO_APPLY                  EMAIL_TO_APPLY  \
0       13607017661            faziofarms@gmail.com
1       19318083783                             NaN
2       19369333827   fayethlynpitre@rocketmail.com
3       14069637560         lodahl_kelsey@yahoo.com
4       18632939888                             NaN
...             ...                             ...
2715    12709914373                jims4463@aol.com
2716    12708780028                vjpm76@gmail.com
2717            NaN  H-2AJobs@snakeriverfarmers.org
2718            NaN  H-2AJobs@snakeriverfarmers.org
2719            NaN          referrals@maslabor.com

                                       WEBSITE_TO_APPLY  \
0                                                   NaN
1           https://www.jobs4tn.gov/vosnet/Default.aspx
2                                                   NaN
3                                                   NaN
4                                 www.employflorida.com
...                                                 ...
2715                                                NaN
2716  https://kentucky.gov/employment/Pages/default....
2717            https://idahoworks.gov/ada/r/job_seeker
2718            https://idahoworks.gov/ada/r/job_seeker
2719                    https://www.pacareerlink.pa.gov

      TOTAL_ADDENDUM_A_RECORDS
0                            0
1                            0
2                            0
3                            0
4                            4
...                        ...
2715                         0
2716                         1
2717                         0
2718                         0
2719                         0

[2720 rows x 138 columns]>

##  2.2 Try inner join on employer name  (2 points)

- Use the `EMPLOYER_NAME` field of the `jobs` dataset
- Use the `Name` field of the `debar_clean` dataset 

A. Use pd.merge with an inner join on those fields to see whether there are any exact matches. 

B. If there are exact matches, print the row(s) with exact matches

In [8]:
## your code here

jobs_debar = jobs.merge(debar_clean, left_on = "EMPLOYER_NAME", right_on = "Name", how = "inner")
print(jobs_debar)

          CASE_NUMBER                           CASE_STATUS  \
0  H-300-20287-876656  Determination Issued - Certification

             RECEIVED_DATE            DECISION_DATE  \
0  2020-10-20 09:20:32.010  2020-11-09 00:00:00.000

  TYPE_OF_EMPLOYER_APPLICATION H2A_LABOR_CONTRACTOR NATURE_OF_TEMPORARY_NEED  \
0          Individual Employer                    Y                 Seasonal

  EMERGENCY_FILING   EMPLOYER_NAME TRADE_NAME_DBA  ...  \
0                Y  Rafael Barajas            NaN  ...

  TOTAL_ADDENDUM_A_RECORDS            Name       City, State start_date_viol1  \
0                        7  Rafael Barajas  Sebring, Florida              NaN

  start_date_viol2 is_dup                         Violation  Duration  \
0              NaN    NaN  Non-payment of certification fee    1 year

   Start date   End date
0   9/23/2016  9/22/2017

[1 rows x 147 columns]

## 2.3 Targeted regex (10 points total)

You want to see if you can increase the exact match rate with some basic cleaning of each 
of the employer name fields in each dataset

### 2.3.1 Converting to upper (2 points)

A. Convert the `EMPLOYER_NAME` and `Name` fields to uppercase using list comprehension rather than df.varname.str.upper() (it's fine to do a separate list comprehension line for each of the two columns)

B. Print a random sample of 15 values of each result

C. Assign the full vector of uppercase names back to the original data, writing over the original `EMPLOYER_NAME` and `Name` columns

In [9]:
## insert your code to turn into uppercase here

jobs_names = [str.upper(name) for name in jobs["EMPLOYER_NAME"]]

debar_names = [str.upper(name) for name in debar_clean["Name"]]

In [10]:
## insert your code for the random sample
print(jobs["EMPLOYER_NAME"].sample(n = 15))
print(debar_clean["Name"].sample(n = 15))

1634                   DR Livestock
2610            Sharon J Stamatakis
1694       N & L Johnson Farms, LLC
2220              Mathias A. Miller
1360    Johnsons Mountain Ranch LLC
865         Carlson Harvesting Inc.
979                    Damon Weigel
638                    Stephen Towe
260                  La Alianza, LP
2212     Kunzler Sheep & Cattle Co.
1487       Flowerwood Nursery, Inc.
994                    Alex Hollman
2341          Galen Scheresky Farms
713        JG Labor Harvesting, LLC
1373                M & M Farms LLC
Name: EMPLOYER_NAME, dtype: object
27                          Yolanda Chavez Farming
87                               Leslie Renee Drew
7                             Macky and Brad Farms
64                              Gonzalo Fernandez*
100                              Evergreen Produce
82                                   Labatte Farms
5                                        F&W Farms
39                            Valley View Orchards
38                                     Leslie Cook
4                 Great Plains Fluid Service, Inc.
52                               Louie M. Asumendi
84                            Landmark Landscaping
1                              Autumn Hill Orchard
105                                    J & L Farms
112    B & R Harvesting and Paul Cruz (individual)
Name: Name, dtype: object

In [11]:
## insert your code for assigning the uppercase names back to the data
jobs["EMPLOYER_NAME"] = jobs_names
debar_clean["Name"] = debar_names

### 2.3.2 Cleaning up punctuation (4 points)

You notice that INC, CO, and LLC are sometimes followed by a period (.) but sometimes not

A. For each dataset, write a regex pattern using `re.sub` to remove the . but only if it's preceded by INC, LLC, or CO 

Make sure LLC, INC, CO remain part of the string but just without the dot

B. Test the pattern on the positive and negative example we provide below and print the result. See the Github issue for examples of what to return


**Hint**: https://stackoverflow.com/questions/7191209/python-re-sub-replace-with-matched-content

In [12]:
pos_example_1 = "CISCO PRODUCE INC."
pos_example_2 = "AVOYELLES HONEY CO., LLC"
neg_example = "E.V. RANCH LLP"

In [13]:
## insert your code here with the regex pattern for part A

pattern1 = r"(\s+)(INC|CO|LLC)(\.)?"

## insert your code to use re.sub to apply the pattern to the test cases for part B


re.search(pattern1, pos_example_1)
re.search(pattern1, pos_example_2)
re.search(pattern1, neg_example)

### 2.3.3 (4 points)

Use that pattern in conjunction with `re.sub` and list comprehension to clean the employer name columns in each dataset. Save the new columns as `name_clean` in each. Then, use row subsetting to (1) subset to rows that changed names and (2) for:

- `debar_clean` print the `Name` and `name_clean` columns
- `jobs` print the `EMPLOYER_NAME` and `name_clean` columns

Make sure to use the uppercase versions of the variables

In [14]:
## your code here to clean the columns

debar_clean["name_clean"] = [re.sub(pattern1, r"\1\2", name) for name in debar_clean["Name"]]
jobs["name_clean"] = [re.sub(pattern1, r"\1\2", name) for name in jobs["EMPLOYER_NAME"]]

In [15]:
## your code here to print the head
print(jobs[jobs["EMPLOYER_NAME"] != jobs["name_clean"]].head())
print(debar_clean[debar_clean["Name"] != debar_clean["name_clean"]].head())

           CASE_NUMBER                                     CASE_STATUS  \
4   H-300-20231-774508            Determination Issued - Certification
7   H-300-20233-780540  Determination Issued - Certification (Expired)
14  H-300-20240-791807  Determination Issued - Certification (Expired)
17  H-300-20244-795767            Determination Issued - Certification
18  H-300-20245-799651            Determination Issued - Certification

              RECEIVED_DATE            DECISION_DATE  \
4   2020-08-20 10:17:34.530  2020-10-01 00:00:00.000
7   2020-09-04 14:26:00.270  2020-10-01 00:00:00.000
14  2020-09-17 18:57:56.030  2020-10-01 00:00:00.000
17  2020-09-16 12:58:58.600  2020-10-01 00:00:00.000
18  2020-09-02 11:17:48.730  2020-10-01 00:00:00.000

    TYPE_OF_EMPLOYER_APPLICATION H2A_LABOR_CONTRACTOR  \
4            Individual Employer                    Y
7   Association - Joint Employer                    N
14           Individual Employer                    N
17           Individual Employer                    N
18           Individual Employer                    N

   NATURE_OF_TEMPORARY_NEED EMERGENCY_FILING  \
4                  Seasonal                N
7                  Seasonal                N
14                 Seasonal                N
17                 Seasonal                N
18                 Seasonal                N

                               EMPLOYER_NAME           TRADE_NAME_DBA  ...  \
4                    DUNSON HARVESTING, INC.  Dunson Harvesting, Inc.  ...
7   FARM LABOR ASSOCIATION FOR GROWERS, INC.                      NaN  ...
14                        MCLAIN FARMS, INC.                      NaN  ...
17                       BONNIE PLANTS, INC.                      NaN  ...
18               B & W QUALITY GROWERS, INC.                      NaN  ...

   TOTAL_HOUSING_RECORDS MEALS_PROVIDED MEALS_CHARGED  \
4                      8              N           NaN
7                      1              Y          13.5
14                     1              N           NaN
17                     1              N           NaN
18                    33              N           NaN

   MEAL_REIMBURSEMENT_MINIMUM MEAL_REIMBURSEMENT_MAXIMUM PHONE_TO_APPLY  \
4                       12.68                       55.0    18632939888
7                       13.50                       55.0    17605922256
14                      12.68                       55.0    19125268436
17                      12.68                       55.0    13343911328
18                      12.68                       55.0    17725711135

                   EMAIL_TO_APPLY       WEBSITE_TO_APPLY  \
4                             NaN  www.employflorida.com
7                  flag@sfcos.com                    NaN
14            kim@mclainfarms.com                    NaN
17  dennis.ucles@bonnieplants.com                    NaN
18                            NaN  www.employflorida.com

    TOTAL_ADDENDUM_A_RECORDS                               name_clean
4                          4                   DUNSON HARVESTING, INC
7                          9  FARM LABOR ASSOCIATION FOR GROWERS, INC
14                         1                        MCLAIN FARMS, INC
17                         0                       BONNIE PLANTS, INC
18                         7               B & W QUALITY GROWERS, INC

[5 rows x 139 columns]
                                Name     City, State start_date_viol1  \
3              ANTON FERTILIZER INC.     Dighton, KS              NaN
4   GREAT PLAINS FLUID SERVICE, INC.  Greensburg, KS              NaN
5                        PROMAX INC.  Whitewater, KS              NaN
13                     REIMER'S INC.       Lakin, KS              NaN
19                CISCO PRODUCE INC.       Cairo, GA              NaN

   start_date_viol2 is_dup                                  Violation  \
3               NaN    NaN  Failure to respond to audit (no response)
4               NaN    NaN  Failure to respond to audit (no response)
5               NaN    NaN               Failure to Hire U.S. workers
13              NaN    NaN  Failure to respond to audit (no response)
19              NaN    NaN  Failure to respond to audit (no response)

   Duration  Start date   End date                       name_clean
3   2 years   3/30/2014  3/29/2016             ANTON FERTILIZER INC
4   2 years   3/30/2014  3/29/2016  GREAT PLAINS FLUID SERVICE, INC
5   2 years   5/15/2014  5/14/2016                       PROMAX INC
13  2 years   8/23/2014  8/22/2016                     REIMER'S INC
19  2 years  12/10/2014  12/9/2016                CISCO PRODUCE INC

## 2.4 More joins and more cleaning (5 points)

A. Conduct another inner join between `jobs` and `debar_clean` now using the `name_clean` column; print the result. Did the cleaning result in any more employers matched between the two datasets?

B. Create a new column in `debar_clean` called `name_clean_2` that uses regex to take the following name in that dataset:

- `SLASH E.V. RANCH LLP` in the `debar_clean` dataset

And cleans it up so that it matches with this employer in `jobs`

- `SLASH EV RANCH` in the `jobs` dataset

Eg a pattern to remove the dots in the EV and the space+LLP-- you can apply the pattern to all employer names in debar_clean (so don't need to worry about only applying it to that one employer)


C. Conduct a left join using `name_clean_2` as the join column where the left hand dataframe is `jobs`; right hand dataframe is `debar_clean`, store the result as a dataframe, and print the rows where the merge indicator indicates the row was found in both dataframe

**Note**: this manual cleaning process is inefficient and helps motivate why talked about fuzzy matching. Fuzzy matching could recognize that Slash EV ranch is a highly similar string to slash ev ranch llp and match them without us needing to use regex to make the strings identical.

In [23]:
## your code here
jobs_debar_clean = jobs.merge(debar_clean, on = "name_clean", how = "inner")
print(jobs_debar_clean.shape)


pattern2 = r"(SLASH)\s(E)\.(V)\.\s(RANCH)\s(LLP)"

debar_clean["name_clean_2"] = [re.sub(pattern2, r"\1 \2\3 \4", name) for name in debar_clean["name_clean"]]

print(jobs[jobs["name_clean"] == "SLASH EV RANCH"])
print(debar_clean[debar_clean["name_clean_2"] == "SLASH EV RANCH"])

jobs_debar_left = jobs.merge(debar_clean, left_on = "name_clean", right_on = "name_clean_2", how = "left", indicator = "was_match")
print(jobs_debar_left[jobs_debar_left.was_match == "both"])

(1, 149)
             CASE_NUMBER                           CASE_STATUS  \
1115  H-300-20306-894148  Determination Issued - Certification

                RECEIVED_DATE            DECISION_DATE  \
1115  2020-11-02 18:11:29.140  2020-11-24 00:00:00.000

     TYPE_OF_EMPLOYER_APPLICATION H2A_LABOR_CONTRACTOR  \
1115          Individual Employer                    N

     NATURE_OF_TEMPORARY_NEED EMERGENCY_FILING   EMPLOYER_NAME TRADE_NAME_DBA  \
1115                 Seasonal                N  SLASH EV RANCH            NaN

      ... TOTAL_HOUSING_RECORDS MEALS_PROVIDED MEALS_CHARGED  \
1115  ...                     1              N           NaN

     MEAL_REIMBURSEMENT_MINIMUM MEAL_REIMBURSEMENT_MAXIMUM PHONE_TO_APPLY  \
1115                      12.68                       55.0    13034896355

             EMAIL_TO_APPLY            WEBSITE_TO_APPLY  \
1115  sallyloulou13@aol.com  www.connectingcolorado.com

      TOTAL_ADDENDUM_A_RECORDS      name_clean
1115                         0  SLASH EV RANCH

[1 rows x 139 columns]
                    Name City, State start_date_viol1 start_date_viol2 is_dup  \
20  SLASH E.V. RANCH LLP   Rifle, CO              NaN              NaN    NaN

        Violation Duration  Start date    End date            name_clean  \
20  WHD Debarment   1 year  11/15/2014  11/14/2015  SLASH E.V. RANCH LLP

      name_clean_2
20  SLASH EV RANCH
             CASE_NUMBER                           CASE_STATUS  \
791   H-300-20287-876656  Determination Issued - Certification
1115  H-300-20306-894148  Determination Issued - Certification

                RECEIVED_DATE            DECISION_DATE  \
791   2020-10-20 09:20:32.010  2020-11-09 00:00:00.000
1115  2020-11-02 18:11:29.140  2020-11-24 00:00:00.000

     TYPE_OF_EMPLOYER_APPLICATION H2A_LABOR_CONTRACTOR  \
791           Individual Employer                    Y
1115          Individual Employer                    N

     NATURE_OF_TEMPORARY_NEED EMERGENCY_FILING   EMPLOYER_NAME TRADE_NAME_DBA  \
791                  Seasonal                Y  RAFAEL BARAJAS            NaN
1115                 Seasonal                N  SLASH EV RANCH            NaN

      ... start_date_viol1 start_date_viol2 is_dup  \
791   ...              NaN              NaN    NaN
1115  ...              NaN              NaN    NaN

                             Violation Duration  Start date    End date  \
791   Non-payment of certification fee   1 year   9/23/2016   9/22/2017
1115                     WHD Debarment   1 year  11/15/2014  11/14/2015

              name_clean_y    name_clean_2  was_match
791         RAFAEL BARAJAS  RAFAEL BARAJAS       both
1115  SLASH E.V. RANCH LLP  SLASH EV RANCH       both

[2 rows x 151 columns]

# 3. Optional extra credit 1: regex to separate companies from individuals (1 point)

You notice some employers in `debar_clean` have both the name of the company and the name of individual, e.g.:
    
COUNTY FAIR FARM (COMPANY) AND ANDREW WILLIAMSON (INDIVIDUAL)*

Use the uppercase/cleaned `name_clean` in `debar_clean`

A. Write a regex pattern that does the following:
    - Captures the pattern that occurs before COMPANY if (COMPANY) is in string; so in example above, extracts COUNTY FAIR FARM 
    - Captures the pattern that occurs before INDIVIDUAL if (INDIVIDUAL) is also in string -- so in above, extracts ANDREW WILLIAMSON (so omit the "and")
    
B. Test the pattern on `pos_example` and `neg_example`-- make sure former returns a list (if using find.all) or match object (if using re.search) with the company name and individual name separated out; make sure latter returns empty
    
**Hints and resources**: for step A, you can either use re.search, re.match, or re.findall; don't worry about matching B&R Harvesting and Paul Cruz (Individual)

- Same regex resources as above

In [24]:

pos_example = "COUNTY FAIR FARM (COMPANY) AND ANDREW WILLIAMSON (INDIVIDUAL)*"
neg_example = "CISCO PRODUCE INC"

pattern3 = r"(([A-Z]+\s)*)(\(COMPANY\))\s(AND)\s(([A-Z]+\s)*)\(INDIVIDUAL\)."

new_string = re.sub(pattern3, r"\1 \5", pos_example)
neg_string = re.search(pattern3, neg_example)
print(new_string)
print(neg_string)

COUNTY FAIR FARM  ANDREW WILLIAMSON
None

C. Iterate over the `name_clean` column in debar and use regex to create two new columns in `debar_clean`:
   - `co_name`: A column for company (full `name_clean` string if no match; pattern before COMPANY if one extracted)
   - `ind_name`: A column for individual (full `name_clean` string if no match; pattern before INDIVIDUAL if one extracted)

In [25]:

co_names = []
ind_names = []

for name in debar_clean["name_clean"]:
    if re.match(pattern3, name):
        co_names.append(re.sub(pattern3, r"\1", name))
        ind_names.append(re.sub(pattern3, r"\5", name))
    else:
        co_names.append(None)
        ind_names.append(None)


debar_clean["co_name"] = co_names
debar_clean["ind_name"] = ind_names

   
D. Print three columns for the rows in `debar_clean` containing the negative example and positive example described above (county fair farm and cisco produce):

- `name_clean`
- `co_name`
- `ind_name`
- `Violation`

**Note**: as shown in the outcome there may be duplicates of the same company reflecting different violations

In [26]:
# your code here
print(debar_clean[debar_clean["name_clean"].isin([pos_example, neg_example])][["name_clean", "co_name", "ind_name", "Violation"]])

                                            name_clean            co_name  \
19                                   CISCO PRODUCE INC               None
56                                   CISCO PRODUCE INC               None
108  COUNTY FAIR FARM (COMPANY) AND ANDREW WILLIAMS...  COUNTY FAIR FARM

               ind_name                                   Violation
19                 None   Failure to respond to audit (no response)
56                 None  Impeding the Audit Process – Non- Response
108  ANDREW WILLIAMSON                                WHD Debarment

# 4. Optional extra credit 2 (up to 3 points)

- For 1 point extra credit, create a visualization with 1+ of the existing fields in either the raw `jobs` or `debar` data. We'll be showing cool visualizations in class so use your imagination! Options could include visualizing between-state or over-time variation

- For 3 points extra credit instead, geocode the employer addresses in `jobs` and plot the addresses of jobs as points overlaid on top of a map of Georgia 
    - **Note**: this extra credit involves Googling since we have not yet covered spatial data. 
        - For discussion of how to geocode addresses -> lat/long, see: https://www.natasshaselvaraj.com/a-step-by-step-guide-on-geocoding-in-python/ 
        - For discussion of plotting lat/long dots against a map, see this discussion of geopandas: https://towardsdatascience.com/plotting-maps-with-geopandas-428c97295a73
    - Relevant columns include `EMPLOYER_ADDRESS_1` 
    - The geocoding might have a long runtime so feel free to implement it in a separate .py script that you submit alongside your notebook and to just read in the geocoded data

In [ ]:
## your code here
import matplotlib.pyplot as plt

state_abbreviations = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

def extract_state(city_state):
    if isinstance(city_state, str):
        return city_state.split(', ')[-1]
    else:
        return "Unknown" 

debar['State'] = debar['City, State'].apply(extract_state)

def clean_city_state(state):
    for keyword, replacement in state_abbreviations.items():
        if keyword in state:
            return state.replace(keyword, replacement)
    return state

debar['State'] = debar['State'].apply(clean_city_state)

state_violation_counts = debar['State'].value_counts()

print(state_violation_counts)

state_violation_counts.plot(kind='bar', color='skyblue', figsize=(10, 6))

plt.title('Number of Violations Per State')
plt.xlabel('State')
plt.ylabel('Number of Violations')
plt.xticks(rotation=60) 

plt.show()